{% extends 'Base.html' %}

{% block contenido %}

<h2>Registro Usuarios</h2>

<form method="post">
    {% csrf_token %}

    <!--   

            -->
            

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
        {{ field.error }}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

{% endblock %}

<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->