{% extends 'Base.html' %}

{% block contenido %}

<a> Detalle del producto </a>




<div>

</div>
<div class="col">
    <div class="h1"> {{ producto.Nombre_Corto }}</div>
    <div class="h5 font-weight-bold">
        Precio: <span class="text-danger"> $ {{ producto.Precio_Venta }} </span>
    </div>
    <div class="">
        <p>
            {{ producto.Descripcion }}
        </p>
    </div>
    <div class="col-3">
    
        <img src="{{ producto.imagen.url }}" alt="imagen del producto" width="200" height="400">
        <a href="{% url 'index' %}" class="btn btn-primary">Regresar</a>
    </div>
    <div class="">
        {% include 'carritos/snippets/add.html' %}
    </div>
</div>






{% endblock%}