{% extends 'Base.html' %}

{% block contenido %}

<div class="col">
    <h1>{{mensaje}}</h1>
    <ul class="list-group">
        {% for Producto in Productos %}
        <li class="list-group-item">
            {{ Producto.Nombre_Corto }}
            {{ Producto.Descripcion }}
            {{ Producto.Precio_Venta }}
            {{ Producto.created_at }}
            {{ producto.imagen.url }}
            <div class="col-3">
    
                <img src="" alt="imagen del producto" width="200" height="400">
              
            </div>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock%}


<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->