{% extends 'Base.html' %}

{% block contenido %}

<div class="col">
    <h1>{{mensaje}}</h1>
    <ul class="list-group">
        {% for producto in productos %}
        <li class="list-group-item">
            {{ producto.titulo }}
            {% if producto.inventario %}
            <span class="text-success">Disponible</span>
            {% else %}
            <span class="tex-danger">No Disponible</span>

            {% endif %}
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock%}


<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->