{% extends 'Base.html' %}

{% block contenido %}




<div class="col">
    <h4 class="tect-center">{{mensaje}}</h4>
    {% include 'productos/snippets/buscador.html' with Producto=object%}
        <div class="row">
            {% for object in Productos %}
            <div class="col-3 mt-5">
                {% include 'productos/snippets/producto_maquetado.html' with Producto=object%}
            </div>
            {% endfor %}
        </div>
</div>


{% endblock%}




<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->