{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags == 'success' %} alert-success {%else%} alert-danger {% endif %}">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}


<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->