<nav class="navbar navbar-expand-md bg-dark navbar-dark ">

    <a href="{% url 'index' %}" class="navbar-brand">  Bright Natural Star  </a>
    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb" class="navbar-collapse collapse hide">
        
        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="{% url 'inventario' %}" class="nav-link">
                    <span class="fa-solid fa-warehouse"></span>
                    Inventario</a>
            </li>   
            <li class="navbar-item">
                <a href="{% url 'login' %}" class="nav-link">
                    <span class="fa-solid fa-arrow-right-to-bracket"></span>
                    Login</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'registro' %}" class="nav-link">
                    <span class="fa-regular fa-address-card"></span>
                    Registro</a>


            </li>
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <span class="fa-solid fa-outdent""></span>
                    Logout</a>
            </li>
        </ul>
    </div>

</nav>


<!--

/*
  _                    , ,   _____  
 | |     : :          ()()  (  __ |              
 | |      _       __   | |   \ \ \|          
 | |   :/ _ \  :/ _ \| | | :  \ \        
 | |   | | | | | || | || ||\_\ \ \      
 | || || | | | | || | || ||______,)      
 |    / \ _ / , \_  | ||_|              
 | _ /         ___| |                      
              |     |  
  Desarrollado por Logi is  
*/

-->