{% extends 'base.html' %}

{% block contenido %}

<div class="font-weight-bold text-danger">
    {{ producto.Precio_Venta }}
    <h5 class="card-title">{{ producto.Nombre_Corto }}</h5>
    <p class="card-text">{{ producto.Descripcion }}</p>
    <p class="card-text">{{ producto.Precio_Venta }}</p>
    <p class="card-text">{{ producto.created_at }}/<p>
    <p class="card-text">{{ producto.imagen.url }}</p>
</div>

<div class="col-3">
    {% if producto.imagen %}
    <img src="{{ producto.imagen.url }}" alt="imagen del producto" width="100" height="300">
    {% endif  %}
</div>



{% endblock %}